//Primary
$orange: hsl(26, 100%, 55%);
$orange-hover: hsl(26, 100%, 74%);
$pale-orange: hsl(25, 100%, 94%);

//Neutral
$very-dark-blue: hsl(220, 13%, 13%);
$dark-grayish-blue: hsl(219, 9%, 45%);
$grayish-blue: hsl(220, 14%, 75%);
$light-grayish-blue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%); // (with 75% opacity for lightbox background)

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/KumbhSans-Bold.eot');
  src: url('/fonts/KumbhSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/KumbhSans-Bold.woff2') format('woff2'),
      url('/fonts/KumbhSans-Bold.woff') format('woff'),
      url('/fonts/KumbhSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/KumbhSans-Regular.eot');
  src: url('/fonts/KumbhSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/KumbhSans-Regular.woff2') format('woff2'),
      url('/fonts/KumbhSans-Regular.woff') format('woff'),
      url('/fonts/KumbhSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul {
  margin: 0;
  padding: 0;
}

h1, p , ul, li, span, button, h1, h2, input{
  font-family: 'Kumbh Sans';
}

p, button{ font-size: 16px; }

ul{
  li{
    list-style: none;
    color: $grayish-blue;
  }
}

#root{
  position: absolute;
  width: 100%;
  height: auto;
}

.container{
  margin: 0 auto;
  padding: 0 5%;
  max-width: 1340px;
  width: 100%;
}

.f-bold{
  font-weight: bold;
}

.orange-button{
  background-color: $orange;
  border: unset; border-radius: 5px;

  cursor: pointer;
  color: $black; font-weight: 600;
  transition: background-color .3s ease-in-out;
  padding: 13px;
  width: 100%;

  &.shadow{
    -webkit-box-shadow: 0px 10px 16px -2px rgb(255, 148, 0);
    -moz-box-shadow: 0px 10px 16px -2px rgb(255, 148, 0);
    box-shadow: 0px 10px 16px -2px rgb(255, 148, 0);
  }

  &:hover{
    background-color: $orange-hover;
  }

}

// Form styles
form{
  .row{
    margin-bottom: 15px;
  }
  .row-inputs {
    display: flex;
    // grid-template-columns: fit-content(100%) 1fr fit-content(100%);
  }
  .row-button{
    width: 100%;
  }
  input[type="submit"], input[type="number"]{
    border: unset;
    background-color: $light-grayish-blue;
    padding: 13px;
  }
  input[type="submit"]{
    color: $orange;
    cursor: pointer;
    width: 60px;
  }
  input[type="number"]{
    font-size: 14px;
    text-align: center;
    outline: unset;
    flex-grow: 1; /* El campo de número ocupa el espacio restante */
    width: 100%;
  }
  /* WebKit (Chrome, Safari, Edge) */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}