#app-header{
  display: flex; 
  align-items: center;
  justify-content: space-between;
  border: unset;
  min-height: 80px;

  .header-side{
    display: flex; align-items: center;
    
    &.left{
      gap: 10px;

      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
          position: absolute;
          width: 27px;
          height: 4px;
          transition-timing-function: ease;
          transition-duration: .15s;
          transition-property: transform;
          border-radius: 4px;
          background-color: $dark-grayish-blue;
      }
  
      .hamburger {
        display: inline-block;
        padding: 5px;
        border: 0;
        cursor: pointer;
      
        transition-property: opacity, filter;
        transition-duration: .15s;
        transition-timing-function: cubic-bezier(.55,.055,.675,.19);
          
        &.is-active {
          .hamburger-inner,
          .hamburger-inner::before,
          .hamburger-inner::after{ background-color: $dark-grayish-blue; }
  
        }
  
        .hamburger-box {
          position: relative;
          display: inline-block;
          width: 27px;
          height: 24px;
  
          .hamburger-inner {
            display: block;
            top: 50%;
  
            &:after, &:before {
              display: block;
              content: "";
            }
            
            &:before { 
              top: -9px;
              transition: top 75ms ease .12s,opacity 75ms ease;
            }
            
            &:after { 
              bottom: -9px;
              transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
            }
  
          }
  
        }
        
        &--squeeze {
          .hamburger-inner {
            transition-duration: 0.075s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      
            &::before {
              transition: top 0.075s 0.12s ease,
                          opacity 0.075s ease;
            }
      
            &::after {
              transition: bottom 0.075s 0.12s ease,
                          transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
            
          }
      
          &.is-active {
            .hamburger-inner {
              transform: rotate(45deg);
              transition-delay: 0.12s;
              transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      
              &::before {
                top: 0;
                opacity: 0;
                transition: top 0.075s ease,
                            opacity 0.075s 0.12s ease;
              }
      
              &::after {
                bottom: 0;
                transform: rotate(-90deg);
                transition: bottom 0.075s ease,
                            transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
              }
            }
          }
        }
  
      }
  
      > h1 {
        font-size: 40px;
        transform: translateY(-4px);
      }
      
      ul.category-list {
        display: none;
  
        li{ 
          cursor: pointer; 
        }
  
      }

      ul.wrapper-links-desktop{ display: none;}
  
    }
  
    &.right{
      position: relative;
      gap: 18px;

      .cart-wrapper{
        display: flex;
        cursor: pointer;
        position: relative;

        .quantity-cart{
          content: '';
          position: absolute;
  
          display: flex;
          align-items: center;
          justify-content: center;
  
          font-size: 11px; font-weight: bold;
  
          background-color: $orange;
          color: $white;
  
          border-radius: 8px;
          width: 21px; height: 14px;
  
          top: -6px; left: 8px;
          
        }

        img.cart{ width: 23px; }

        .cart-box{
          position: absolute;

          background-color: $white;
          // border: 1px solid rgba(182, 188, 200, 0.4);
          border-radius: 10px;
          box-shadow: 2px 24px 44px -20px rgba(0, 0, 0, 0.75);

          width: 90vw; height: fit-content;
          top: 20px; left: calc(-40vw + 68px + 10%);

          transform: translate(-50vw, -20px);

          transition: opacity 0.3s ease, transform 0.3s ease;
          opacity: 0; visibility: hidden;

          .cart-title{
            display: block;
            border-bottom: 1px solid rgb(182,188,200,0.4);
            
            font-size: 14px; font-weight: 600;
            
            padding: 14px;
            width: 100%;
          }

          .info-cart{
            display: flex;
            justify-content: space-between; align-items: center;
            gap: 10px;

            padding: 14px;

            img.thumbmail-img{ 
              border-radius: 5px;
              height: auto; width: 40px;
            }

            .description-price{
              p.description, p.price{
                color: $dark-grayish-blue;

                span.bold{ 
                  font-weight: 600;
                  color: $black; 
                }

              }
            }

            img.delete-icon{ 
              cursor: pointer;
              height: 15px; width: auto; 
            }

          }

          button.checkout{
            margin: 20px;
            width: calc(100% - 40px);
          }

        }

        &:hover{
          .cart-box{
            transform: translate(-50vw, 0);
            opacity: 1; visibility: visible;
          }
        }

      } 
  
      img.avatar{ 
        cursor: pointer;
        width: 28px; 
      }

    }
    
  }

  @media(min-width:1024px){    
    border-bottom: 1px solid rgb(182,188,200,0.4);

    .header-side{
      &.left{
        gap: 50px;

        .hamburger{
          display: none;
        }

        ul.wrapper-links-desktop{
          display: flex;
          gap: 35px;
          height: 80px;
    
          li.single-link{
            display: flex; align-items: center;

            position: relative;
            cursor: pointer;
            height: 100%;
            
            &::after{
              content: '';
              position: absolute;

              bottom: -1px; left: 0;
              width: 100%; height: 4px;
              
              transition: border-bottom 0.3s ease;  
              border-bottom: solid 3px transparent;

            }
            
            &:hover::after{ border-bottom: solid 3px $orange; }

          }
    
        }
      }

      &.right{
        gap: 30px;

        .cart-wrapper{

          .quantity-cart{ top: -5px; }

          .cart-box{
            left: -233px;
            width: 330px;
            transform: translateY(-20px);
          }

          &:hover{
            .cart-box{
              transform: translateY(0);
              opacity: 1; visibility: visible;
            }
          }

        }

        img.avatar{ 
          border: solid 2px transparent;
          border-radius: 50%; 
          width: 44px;
          transition: border .3s ease-in-out;
          
          &:hover{ border: solid 2px $orange; }
        
        }

      }
  
    }

  }

}